<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.GoodsDao">
    <!--添加商品-->
    <insert id="addGoods" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO goods_base_info
            (id,name,cn_name,en_name,pcl_no,sku_no,other_name,
             cn_customs_name,en_customs_name,hs_code,category_no,
             tag_no,brand_no,business_dev_user_no, buy_qus_user_no,
             buy_user_no,length,width,height,weight,body_weight_5000,
             body_weight_6000,base_price,sale_price,pic_address,description,
             easy_discription,key_code,status,create_by,create_date,update_by,
             update_date,remarks,delete_status,domains)
        VALUES
            (UUID(), #{name}, #{cn_name}, #{en_name}, #{pcl_no}, #{sku_no}, #{other_name},
            #{cn_customs_name}, #{en_customs_name}, #{hs_code}, #{category_no},
            #{tag_no}, #{brand_no}, #{business_dev_user_no}, #{buy_qus_user_no},
            #{buy_user_no}, #{length}, #{width}, #{height}, #{weight}, #{body_weight_5000},
            #{body_weight_6000}, #{base_price}, #{sale_price}, #{pic_address}, #{description},
            #{easy_discription}, #{key_code}, #{status}, #{create_by}, #{create_date}, #{update_by},
             #{update_date}, #{remarks}, #{delete_status}, #{domains})
    </insert>
    <!--计算商品个数-->
    <select id="countGoods" resultType="Integer">
        SELECT count(0)
        FROM goods_base_info g
        <where>
            <if test="name != null and name !=''" >
                g.name like  CONCAT('%',#{name},'%') and
            </if>
            <if test="sku_no != null and sku_no != '' " >
                g.sku_no like CONCAT('%',#{sku_no},'%') and
            </if>
            <if test="status != null and  status!= ''" >
                g.status = #{status} and
            </if>
            <if test="beginTime != null and  beginTime!= '' and endTime != null and  endTime!= ''" >
                g.update_date between #{beginTime} and  #{endTime} and
            </if>
            g.delete_status = '1'
        </where>
    </select>

    <select id="queryBySku" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            g.*
        FROM goods_base_info g
        where
            g.sku_no = #{sku_no}
        AND
        g.delete_status = '1'

    </select>


    <select id="listGoods" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            g.*
        FROM goods_base_info g

        <where>
            <if test="name != null and name !=''" >
                g.name like  CONCAT('%',#{name},'%') and
            </if>
            <if test="sku_no != null and sku_no != '' " >
                g.sku_no like CONCAT('%',#{sku_no},'%') and
            </if>
            <if test="status != null and  status!= ''" >
                g.status = #{status} and
            </if>
            <if test="beginTime != null and  beginTime!= '' and endTime != null and  endTime!= ''" >
                g.update_date between #{beginTime} and  #{endTime} and
            </if>
            g.delete_status = '1'
        </where>

        ORDER BY g.create_date DESC
        LIMIT #{offSet}, #{pageRow}
    </select>

    <update id="updateGoods" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE goods_base_info g
        <set>
            <if test="name != null" >
                g.name = #{name},
            </if>
            <if test="cn_name != null" >
                g.cn_name = #{cn_name},
            </if>
            <if test="en_name != null" >
                g.en_name = #{en_name},
            </if>
            <if test="pcl_no != null" >
                g.pcl_no = #{pcl_no},
            </if>
            <if test="sku_no != null" >
                g.sku_no = #{sku_no},
            </if>
            <if test="other_name != null" >
                g.other_name = #{other_name},
            </if>
            <if test="cn_customs_name != null" >
                g.cn_customs_name = #{cn_customs_name},
            </if>
            <if test="en_customs_name != null" >
                g.en_customs_name = #{en_customs_name},
            </if>
            <if test="hs_code != null" >
                g.hs_code = #{hs_code},
            </if>
            <if test="category_no != null" >
                g.category_no = #{category_no},
            </if>
            <if test="tag_no != null" >
                g.tag_no = #{tag_no},
            </if>
            <if test="brand_no != null" >
                g.brand_no = #{brand_no},
            </if>
            <if test="business_dev_user_no != null" >
                g.business_dev_user_no = #{business_dev_user_no},
            </if>
            <if test="buy_qus_user_no != null" >
                g.buy_qus_user_no = #{buy_qus_user_no},
            </if>
            <if test="buy_user_no != null" >
                g.buy_user_no = #{buy_user_no},
            </if>
            <if test="length != null" >
                g.length = #{length},
            </if>
            <if test="width != null" >
                g.width = #{width},
            </if>
            <if test="height != null" >
                g.height = #{height},
            </if>
            <if test="weight != null" >
                g.weight = #{weight},
            </if>
            <if test="body_weight_5000 != null" >
                g.body_weight_5000 = #{body_weight_5000},
            </if>
            <if test="body_weight_6000 != null" >
                g.body_weight_6000 = #{body_weight_6000},
            </if>
            <if test="base_price != null" >
                g.base_price = #{base_price},
            </if>
            <if test="sale_price != null" >
                g.sale_price = #{sale_price},
            </if>
            <if test="pic_address != null" >
                g.pic_address = #{pic_address},
            </if>
            <if test="description != null" >
                g.description = #{description},
            </if>
            <if test="easy_discription != null" >
                g.easy_discription = #{easy_discription},
            </if>
            <if test="key_code != null" >
                g.key_code = #{key_code},
            </if>
            <if test="status != null" >
                g.status = #{status},
            </if>
            <if test="remarks != null" >
                g.remarks = #{remarks},
            </if>
            <if test="update_by != null" >
                g.update_by = #{update_by},
            </if>
            <if test="domains != null" >
                g.domains = #{domains},
            </if>
        </set>
        where g.id = #{id}
    </update>

</mapper>